.sidebar {
  width: 220px;
  background-color: #86adf7;
  color: white;
  padding: 20px;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-header {
  margin-bottom: 30px;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.sidebar-email {
  font-size: 13px;
  color: white;
  margin-top: 4px;
  display: block;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-menu li {
  margin-bottom: 12px;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 15px;
  font-weight: 500;
}

.sidebar-menu li:hover {
  background-color: #57606f;
}

.sidebar-menu .active {
  background-color: #7d5fff;
  color: white;
  font-weight: 600;
}

.sidebar-name{
  font-size: 20px;
  color:white;
  margin-top: 4px;
  display: block;
}
/* Logout Button */
.sidebar-logout {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

.logout-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #e75d64;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #f08b8d;
}

.logout-icon {
  font-size: 1.2rem;
}
